html { font-size: 10px; }


header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: ;
}
.btn { 
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 0;
	font-size: 2rem;
}
a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 22px;
	/* identical to box height */

	
	color: #FFFFFF!important;
}
.phone {
	padding: 10px;
	border-radius: 50%;
	background-color: #1060FD;
	margin-right: 20px;
}











.first { 
	background: url(../img/bg.png) no-repeat;
	background-position: center;
	padding: 384px 0 297px 0;
}
h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 7.2rem;
	line-height: 88px;
	margin: 0;
	color: #FFFFFF;
}
h1 span {
	display: block;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 7.2rem;
	line-height: 88px;

	color: #FFFFFF;
}
p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 29px;

	color: #FFFFFF;
}
.first p {
	padding: 80px 0 60px 0;
	margin: 0;
}
.btn_blue {
	border: none;
	background-color: #045AFF;	
	padding: 12px 40px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 29px;
}
.btn_blue_tiny {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 29px;
}














.second {
	padding: 67px 0;
}

.text__header {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 4.8rem;
	line-height: 59px;
}
.text_description {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	/* identical to box height */
	margin: 0;

	color: #000000;
}
.text__header_black {
	color: #000000;
}
.text__header_white { 
	color: #fff; }
.text__header_blue {
	color: #045AFF;
}


.text_size_14 {
	font-size: 1.4rem;
	line-height: 17px;
}
.text_size_16 {
	font-size: 1.6rem;
	line-height: 20px;
}
.text_size_18 { 
	font-size: 1.8rem;
	line-height: 22px;
}

.text_size_24 {
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 29px;
}
.p_top {
	padding: 31px 0;
}
.nav-pills {
	padding: 31px 0;
}
.nav-pills .nav-item {
	width: 23%;
	
}
.nav-pills .nav-item .nav-link {
	text-align: center;
	width: 100%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 29px;
	border: 2px solid #333333;
	padding: 16px 0;
	border-radius: 0;
	box-sizing: border-box;
	color: #333333!important;
}
.nav-pills .nav-item .nav-link.active {
	border: 2px solid #045AFF;
	background-color: #045AFF;
	color: #fff!important;
}
.second img { 
	width: 100%; }












.third {
	background: url(../img/bgsmoke.png) no-repeat #000;
	background-position: center;
	padding: 66px 0 80px 0;
}














.fouth {
	padding: 93px 0;
}
.fouth img { width: 100%; }












.sixth { padding: 170px 0; }









.form input { color: #fff; }
.form input::-moz-placeholder { color: #fff; }
.form input::-webkit-input-placeholder { color: #fff; }
.form input:-ms-input-placeholder { color: #fff; }
.form input::-ms-input-placeholder { color: #fff; }
.form input::placeholder { color: #fff; } 
.form input.btn:hover { color: #fff; }








.seventh { position: relative; }
.adress {
	position: absolute;
	right: 10%;
	top: -10%;
}
.adress__wrapper { position: relative; }
.adress__content {
	width: 372px;
	position: absolute;
	right: 0;
	top: -10%;
	padding: 25px;
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.adress__content h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 29px;

	color: #000000;
}

.adress__content a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 29px;

	color: #000000!important;
}
.adress__content span {
	display: block;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 17px;
	/* identical to box height */


	color: #045AFF;
}
.adress__content p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 17px;
	/* identical to box height */


	color: #000000;
}
.adress__content .text__header_blue { 
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 29px;
	font-weight: bold;
}



















.eighth a { color: #000!important; }





@media (min-width: 768px) and (max-width: 991.98px) { 
	header img { width: auto; }
	header a { 
		width: 100%;
		text-align: right;
		font-size: 18px; }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.first { padding: 330px 0 240px 0px; }
	.nav-pills .nav-item .nav-link { font-size: 1.9rem; }
}
@media (max-width: 991.98px) { 
	.sixth { padding: 90px 0; }
	.mob_pad { padding-top: 0px!important; }
	.mob_cont { flex-direction: column; }
	.mob_cont div:first-child { order: 1; }
	.mob_cont div:last-child { order: 2; }
	.adress, .adress__content { position: unset; width: auto; }
	.form input { font-size: 2rem;  display: block!important; }
	.form .col-12 { padding-bottom: 20px; }

	.fouth img { margin-bottom: 30px; }
	header img { width: 100%; }
	a { font-size: 14px; }
	h1 { font-size: 36px; line-height: 44px; }
	h1 span { font-size: 36px; line-height: 44px; }
	p {	font-size: 18px; line-height: 20px; }
	.btn_blue {	font-size: 14px; line-height: 20px; }
	.btn_blue_tiny { font-size: 18px; line-height: 20px; }
	.text__header {	font-size: 32px; line-height: 38px; }
	.text_size_14 {
		font-size: 14px;
		line-height: 17px;
	}
	.text_size_16 {
		font-size: 16px;
		line-height: 20px;
	}
	.text_size_18 { 
		font-size: 18px;
		line-height: 22px;
	}

	.text_size_24 {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
	}
	.nav-pills .nav-item .nav-link {
		font-size: 14px;
		line-height: 20px;
	}
	.adress__content h2 {
		font-size: 24px;
		line-height: 29px;
	}

	.adress__content a {
		font-size: 24px;
		line-height: 29px;
	}
	.adress__content span {
		font-size: 14px;
		line-height: 17px;
	}
	.adress__content p {
		font-size: 14px;
		line-height: 17px;
	}
	.adress__content .text__header_blue { 
		font-size: 24px;
		line-height: 29px;
	}
	.nav-item {margin-bottom: 20px;}
	.tab-content p { padding: 10px 0; }
}